<% if comments.count == 0 %>
  <p>暂无评价</p>
<% else %>
  <% comments.each do |comment| %>
    <div class="comment">
      <%= link_to comment.student.name, comment.student %>
      <p><%= comment.evaluation %></p>
    </div>
  <% end %>
  </li> 
<% end %>
