<li>
              <%= link_to image_tag("user.png",:border => 0,:alt => '', :title=>''),user %>
              <%= link_to user[:name], user%>
              <%= render 'shared/request_form'%>
            </li>

