<% provide(:title, "被屏蔽的用户") %>
<%= render 'layouts/sub_header' %>
<div class="room_container">
  <p>被屏蔽的用户不能给您发消息</p>
  <% if @blocked_users.any? %>
    <% @blocked_users.each do |user| %>
      <%= render 'shared/unblocked_form', user: user %>
    <% end %>
  <% else %>
    <p>您还没有屏蔽其他用户</p>
  <% end %>
</div>

