<%= form_for(@advertisement) do |f| %>

  <div class="field">
    <%= f.label :content , "需求内容"%><br />
    <%= f.text_area :content %>
  </div>
    <%= f.submit "提交" , class: "btn btn-primary"%>
<% end %>
