<h3>发布需求</h3>
<div id="clear"></div>
<div class="info_container" style="border:none;">
<div class="page" style="float:none;">
	<div class="edit_ad">
<%= render 'form' %><%= link_to '所有需求', advertisements_path %>
</di>