<h1>编辑公告</h1>

<%= link_to '退出编辑', @annoncement %> 
<%= link_to '所有公告', annoncements_path %>

<%= render 'form' %>
<% if current_admin?%>
<%= render 'delete_annoncement',annoncement: @annoncement%>
<% end%>

