<h3>创建公告</h3>
<div id="clear"></div>
<div class="info_container" style="border:none;">
<div class="page" style="float:none;min-height: auto;padding-bottom:80px;">
	<div class="edit_ad">
<%= render 'form' %>
<div style="float:right;">
<img src="/assets/res/back.png" width="30px" style="padding-right:5px;">
<%= link_to '所有公告', annoncements_path %>
</div>
</div>