<div>
  <button onclick="clearAndUpdate()">clear</button>
  <button onclick="setColor()">red</button>
  <button onclick="setColor()">green</button>
  <button onclick="setColor()">blue</button>
  <button onclick="setColor()">black</button>
  <button onclick="setColor()">thin</button>
  <button onclick="setColor()">medium</button>
  <button onclick="setColor()">thick</button>
</div>
<canvas id="chatroom-canvas" draggable="false" width="500" height="500">
</canvas>
