<%= form_tag(user_room_path(@room.user, room[:id]), method: 'delete') do%>
<%= hidden_field_tag :id, room[:id]%>
<div style="float:right;">
<%= submit_tag "删除聊天室",class: "btn btn-primary"%>
</div>
<% end%>
