#chat-box {
  width: 420px;
  height: 400px;
  border: 1px solid #ababab;
  background: #fff;
  position: fixed;
  right: 55px;
  bottom: 20px;
  display: none;
}

#chat-header {
  height: 32px;
  border-bottom: 1px solid #afafaf;
}

#chat-left {
  height: 367px;
  width: 109px;
  border-right: 1px solid #afafaf;
  background-color: #eaeaea;
  float: left;
}

#chat-close {
  float: right;  
}

#chat-right {
}

#chat-dialogue-list {
  overflow-y: scroll;
  height: 255px;
}

#chat-sendbox textarea {
  width: 290px;
  margin: 3px;
  height: 65px;
}

#chat-sendbutton {
  float: right;
  margin-right: 3px;
}
