@charset "utf-8";
/* CSS Document */

.info_container {
	margin-top: 40px;
	margin-bottom: 50px;
	border-left: thin solid #CCC;
	font-family: Microsoft Yahei;
}
.page {
	margin-left: auto;
	margin-right: auto;
	/*width: 670px;*/
	/*width: 70%;*/
  min-height: 555px;
	padding: 50px 60px 50px 60px;
	/*float: left;*/
	background: #FFF;
	border: thin solid #CCC;
	box-shadow: 5px 5px 5px #CCC;
	font-family: Microsoft Yahei;
}

.page table {
	width: 100%;
	table-layout: fixed;
	border-right: 50px;
}
.page table img, .page table label {
	float: left;
	font-size: 13px;
}
.page h1 {
	text-align: center;
}
.page h6 {
	font-size: 15px;
	font-weight: bold;
	padding-top: 30px;
	padding-left: 0px;
}
.page table img {
	margin-top: 10px;
}
.page .personal_edit {
	border-top: 2px solid #CCC;
}
.page label {
	padding: 15px 0px 20px 0px;
}
.page .choice_cell label {
  padding: 0;
  font-weight: normal;
}
.page .btn_edit {
	width: 100px;
	color: #9ed951;
	margin-top: 15px;
	background: #FFF;
	font-family: Microsoft Yahei;
	border-color: #9ed951;
	border: 2px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align:center;
}
.page .btn{
	float:left;
	margin-right:5px;
}
.page .btn_profile {
	width: 100px;
	color: #9ed951;
	margin-top: 15px;
	background: #FFF;
	font-family: Microsoft Yahei;
	border-color: #9ed951;
	border: 2px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align:center;
	float:right;
	margin-right:12px;
}
.row .btn-primary{
	float:left;
	margin:5px;
	margin-left:0px;
}
.page .btn-warning{
	float:left;
	padding-top:5px;
	margin-right:5px;
}
.page .act_another{
	color: #9ed951;
	background: #FFF;
	font-family: Microsoft Yahei;
	border-color: #9ed951;
	border: 2px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align:center;
	margin-left:20px;width:120px;margin-top:10px;
}
.page .act_another:hover {
	color: #FFF;
	background-color: #9ed951;
}
.page .btn_edit:hover {
	color: #FFF;
	background-color: #9ed951;
}
.page .btn_profile:hover {
	color: #FFF;
	background-color: #9ed951;
}
.info_left, .info_right {
	float: left;
	border-top: 2px solid #CCC;
	/*padding-left: 30px;*/
	font-size: 13px;
}
.info_right {
  padding-left: 20px;
	width: 30%;
}
.info_right img {
	padding-top: 30px;
}
.page ul li {
	float: none;
	padding-top: 0px;
}
.info_left {
	width: 64%;
	padding-left: 20px;
  padding-right: 5px;
	border-right: 2px solid #CCC;
}

.info_right textarea{
	height:300px;
	width:224px;
}
.info_left label{
	padding:0;
}

.course ul li {
	float: left;
	color: #1f86b3;
}
.info_right a {
	color: #666;
}
.info_right .comment {
	border: 2px solid #9ed951;
	border-radius: 5px;
	background: #e4e2e0;
	-moz-border-radius: 5px;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 20px;
}
#tag_sec {
	float: left;
	margin-top:30px;
	width: 12%;
	
}
#tag_sec li {
	float: none;
	padding-right:20px;
	padding-left: 25px;
}
#tag_sec li a{
	color:#000;
}
#tag_sec li:hover {
	float: none;
	background:#b3d465;
	margin:0;
}

.page #psw_rng label{
	font-size:12px;
	color:#666;
	font-weight:normal;
	padding:0;
}
.page #psw_rng input{
	width:150px;
}
.page #psw_rng .btn_edit{
	width:auto;
	margin-top:10px;
	margin-right:13px;
}
.page #psw_rng table{
	table-layout:auto;
}

.info_left table{
	width: 100%;
	table-layout:auto;
	border-right: 50px;
}
.info_container .info_left table td:first-child {
  width: 20%;
  padding-right: 10px;
}
.info_left .role-select label, .info_left .role-select input{
	padding:0px 20px 0px 0px;
	float:left;
}
.page .upload-head{
	/*padding-left:50px;*/
	padding-bottom:20px;
}
.page .upload-head label{
	padding:0px;
	padding-top:10px;
}
.page .upload-head img{
	padding-top:10px;
	padding-bottom:20px;
}
.page .upload-head input{
	float:left;
	width:50%;
	margin-right:10px;
}
.page .upload-head .btn_edit{
	width:50px;
	float:left;
	margin-top:0px;
}
.page .description {
	padding-left:22px;
}
.page .description label{
	font-weight:bold;
	font-size:15px;
}
.page .description textarea{
	width:88%;
	height:100px;
}

.page .profession{
	font-size:15px;
}
.page .profession input{
	margin-left:10px;
}
.page .profession textarea{
	width:80%;
	height:100px;
}
.page .profession .btn_edit{
	margin-top:10px;
	margin-bottom:50px;
	float:none;
}
.page #psw_rng{
	padding-left:20px;
	padding-top:5px;
}

.navibar a {
  color: #BBB;
}

.navibar a:hover {
  color: #FFF;
}

.navibar .new-message {
  color: #00ff00;
  font-weight: bold;
}

.navibar li:hover {
  cursor: pointer;
}

.row{
	padding:10px;
	background:#FFF;
	height:100%;
	margin-left: 10px;
}

.row li{
	border-bottom:thin solid #CCC;
	width:98%;
}

.page .edit_ad textarea{
	width:100%;
}

.edit_ad a{
	margin-top:15px;
	color:#999;
	font-weight:normal;
	margin-right: 5px;
}
#comment_dia{
	float:left;
}
#comment_del{
	float:left;
	margin-top:-20px;
	margin-left:10px;
}

div.pager {
    text-align: right;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #75b701;
}
table td{
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.show_content{
	margin-top:-20px;
	margin-right:170px;
	font-size:13px;
	text-align: justify;
}
.row p{
	padding-left:0px;
}