@charset "utf-8";
/* CSS Document */

.info_container {
	margin-top: 40px;
	margin-bottom: 50px;
	border-left: thin solid #CCC;
	font-family: Microsoft Yahei;
}
.page {
	margin-left: auto;
	margin-right: auto;
	/*width: 670px;*/
	/*width: 70%;*/
	padding: 50px 60px 50px 60px;
	float: left;
	background: #FFF;
	border: thin solid #CCC;
	box-shadow: 5px 5px 5px #CCC;
	font-family: Microsoft Yahei;
}

.page table {
	width: 100%;
	table-layout: fixed;
	border-right: 50px;
}
.page table img, .page table label {
	float: left;
	font-size: 15px;
	font-weight: bold;
}
.page h1 {
	text-align: center;
}
.page h6 {
	font-size: 15px;
	font-weight: bold;
	padding-top: 30px;
	padding-left: 0px;
}
.page table img {
	margin-top: 10px;
}
.page .personal_edit {
	border-top: 2px solid #CCC;
}
.page label {
	padding: 15px 0px 20px 0px;
}
.page .btn_edit {
	width: 100px;
	float: right;
	color: #9ed951;
	margin-top: -10px;
	background: #FFF;
	font-family: Microsoft Yahei;
	border-color: #9ed951;
	border: 2px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align:center;
}
.page .btn_edit:hover {
	color: #FFF;
	background-color: #9ed951;
}
.info_left, .info_right {
	float: left;
	border-top: 2px solid #CCC;
	/*padding-left: 30px;*/
	font-size: 13px;
}
.info_left {
	width: 64%;
}
.info_right {
	width: 30%;
}
.info_right img {
	padding-top: 30px;
}
.page ul li {
	float: none;
	padding-top: 0px;
}
.info_left {
	padding-left: 20px;
	border-right: 2px solid #CCC;
}

.course ul li {
	float: left;
	color: #1f86b3;
}
.info_right a {
	color: #666;
}
.info_right .comment {
	border: 2px solid #9ed951;
	border-radius: 5px;
	background: #e4e2e0;
	-moz-border-radius: 5px;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 20px;
}
#tag_sec {
	float: left;
	margin-top:30px;
	width: 12%;
	
}
#tag_sec li {
	float: none;
	padding-right:20px;
	padding-left: 25px;
}
#tag_sec li a{
	color:#000;
}
#tag_sec li:hover {
	float: none;
	background:#b3d465;
	margin:0;
}

.page #psw_rng label{
	font-size:12px;
	color:#666;
	font-weight:normal;
	padding:0;
}
.page #psw_rng input{
	width:150px;
}
.page #psw_rng .btn_edit{
	width:auto;
	margin-top:10px;
	margin-right:55px;
}
.page #psw_rng table{
	table-layout:auto;
}

.info_left table{
	width: 100%;
	table-layout:auto;
	border-right: 50px;
}
.info_left .role-select label, .info_left .role-select input{
	padding:0px 20px 0px 0px;
	float:left;
}
.page .upload-head{
	padding-left:50px;
	padding-bottom:20px;
}
.page .upload-head label{
	padding:0px;
	padding-top:10px;
}
.page .upload-head img{
	padding-top:10px;
	padding-bottom:20px;
}
.page .upload-head input{
	float:left;
	width:50%;
	margin-right:10px;
}
.page .upload-head .btn_edit{
	width:50px;
	float:left;
	margin-top:0px;
}
.page .description {
	padding-left:22px;
}
.page .description label{
	font-weight:bold;
	font-size:15px;
}
.page .description textarea{
	width:88%;
	height:100px;
}

.page .profession{
	font-size:15px;
}
.page .profession input{
	margin-left:10px;
}
.page .profession textarea{
	width:80%;
	height:100px;
}
.page .profession .btn_edit{
	margin-top:10px;
	margin-bottom:50px;
	float:none;
}
.page #psw_rng{
	padding-left:20px;
	padding-top:5px;
}

.navibar a {
  color: #FFF;
}
