@charset "UTF-8";
/* CSS Document */
.roomsbanner {
	background-size: auto 100%;
	height: 214px;
	margin: 0;
	margin-top: -30px;
	float: left;
}
.roomsbanner a {
	color: #fff;
}
.mystudent, .blacklist, .group {
	float: left;
	font-size: 18px;
	-o-transition-property: width, height, -o-transform, background, font-size, opacity;
	-o-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
	-moz-transition-property: width, height, -o-transform, background, font-size, opacity;
	-moz-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
	transition-property: width, height, transform, background, font-size, opacity;
	transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
}
.mystudent {
	margin-top: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background: #06acde;
	border-radius: 50px;
	-moz-border-radius: 25px;
}
.mystudent:hover, .blacklist:hover, .group:hover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.blacklist {
	margin-top: 50px;
	padding-top: 40px;
	margin-left: -30px;
	padding-bottom: 40px;
	padding-left: 25px;
	padding-right: 25px;
	background: #94ca4e;
	border-radius: 50px;
	-moz-border-radius: 25px;
}
.group {
	margin-top: 80px;
	margin-left: -20px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 25px;
	padding-right: 25px;
	background: #8c8b8b;
	border-radius: 50px;
	-moz-border-radius: 25px;
}
.room_container {
	background: #FFF;
	border: thin solid #CCC;
	box-shadow: 5px 5px 5px #CCC;
	margin-top: -80px;
	margin-left: 40px;
	font-family: Microsoft Yahei;
	padding: 80px 20px;
	overflow: auto;
}
.room_container .create_room {
	margin: -10px 25px 25px 0px;
	float: right;
}
.room_container .create_room a:link {
	border: 2px solid;
	border-radius: 5px;
	padding: 5px;
	-moz-border-radius: 25px;
	margin-left: 30px;
}
.room_container .create_room a:hover {
	color: #FFF;
	background-color: #08c;
}
.room_container a:visited {
}
.row {
	margin-top: 20px;
	min-height:400px;
}
.span6 .btn-primary {
	margin-top: 20px;
}
.span6 #outline {
	width: 265px;
}
.room-img {
	float: left;
	width: 80px;
	height: 80px;
	margin: 5px 10px;
}
.blocked-user {
	margin-bottom: 10px;
	display: inline-block;
	width: auto;
}
.background {
	padding: 50px 60px 50px 60px;
	background: #FFF;
	border: thin solid #CCC;
	box-shadow: 5px 5px 5px #CCC;
	overflow: auto;
}
.background.new-chatroom {
	min-height: 0;
	margin: 0 50px;
}
.background.new-chatroom label {
	padding: 0;
}
.background.new-chatroom li {
	float: none;
}
.btn_color {
	border: 1px solid #333;
	border-radius: 3px;
	-moz-border-radius: 3px;
	
	width: 30px;
	height: 30px;
}

.rolelist{
	border:#CCC;
	background-color:#f2f4f8;
	font-size:13px;
	padding-left: 5px;
	height:300px;
}

.rolelist .roleline{
	height:5px;
	background-color:#e4e7f1;
	border-top:#999;
	border-bottom:#999;
	margin-left:-5px;
}
.rolelist #chatroom-student-list a{
	margin-left:3px;
}
#chatroom-sendbutton{
	float:right;
}
.row .span5{
	margin-left: auto;
	margin-right: auto;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:170px;
	float: none;
	background: #FFF;
	border:thin solid #CCC;
	border-radius: 10px;
	-moz-border-radius: 10px; /* Old Firefox */
	box-shadow: 5px 5px 5px #CCC;
}
.row .span5 label{
	padding:0;
	padding-top:2px;
}
.row .span5 .btn-primary{
	float:right;
	margin-top: 30px;
	margin-right: 160px;
}